.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.menu { width: 35%;}
.dashboard__dash {
  width: 60%;
  background-color: #F8F9FD;
}

@media (max-width: 700px) {
  .menu { width: 90%;}
  .dashboard__dash {width: 100%;}
}
