.newproject__header {
  margin-bottom: 0;
}
.newproject__descr {
  margin-top: 0.2em;
  color: #607D8B;
}

.newproject__form label,
.newproject__form input,
.react-datepicker__input-container,
.newproject__form select,
textarea {
  display: block;
  width: 95%;
}
.react-datepicker__input-container {
  width: 100%;
}

textarea {
  height: 100px;
  line-height: 1.2em;
  letter-spacing: 0.07em;
}
select {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $accent-color;
  padding: 5px;
  line-height: 1;
  height: 34px;
}
.newproject__form label {
  margin-bottom: 0.75em;
  color: $primary-text-color;
}
.newproject__form input {
  margin-top: 0.75em;
  font-size: 1.1em;
  padding: 0.3em;
}
.newproject__form .save__btn {
  border: 0;
  border-radius: 7px;
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;
  background-color: $primary-color-light;
  font-size: 1.2em;
  color: #fff;
}
.newproject__form .save__btn:hover {
  background-color: $primary-color-dark;
}
.errorMessage {
  color: $err-message-color;
}
@media (max-width: 500px) {
  .newproject__form label,
  .newproject__form input,
  .react-datepicker__input-container,
  .newproject__form select,
  textarea {
    font-size: 0.95em;
  }
}
