.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.menu-item--userSection {
  text-align: center;
  background-color: $accent-color;
  padding: 2em;
  margin-bottom: 2em;
}
.userSection--avatar {
  border-radius: 50%;
  margin-bottom: 0.5em;
  width: 125px;
}
.userSection--username {
  text-align: center;
  margin: 0;
  color: $primary-color-text;
}
.menu-item--projectsSection {
  padding: 0.75em;
  position: relative;
  cursor: pointer;
}
.menu-item--projectsSection i {
  margin-right: 0.5em;
  font-size: 1.25em;
  color: #757575;
}
.menu-item--projectsSection:after {
  content: '\f0d7';
  font-family: FontAwesome;
  font-weight: bold;
  font-style: normal;
  text-decoration:none;
  color: $primary-color-dark;
  position: absolute;
  font-size: 1.35em;
  top: 9%;
  right: 8%;
}
.menu-item--projectsSection h4 {
  margin: 0;
  display: inline-block;
  margin-bottom: 1.25em;
  color: #757575;
  font-weight: 400;
}
.projectsSection {
  padding-left: 2em;
  list-style-type: none;
}
.projectsSection li {
  margin-bottom: 1em;
}
.projectsSection li a {
  color: #757575;
}
.menu-item--logoutBtn {
  text-align: center;
  margin: auto 0 2em 0
}
.logout i {
  margin-right: 0.5em;
  font-size: 1.5em;
}
button.logout {
  border: 0;
  border-radius: 8%;
  padding: 0.4em 1em;
  color: #fff;
  letter-spacing: 0.10em;
  background-color: $primary-color;
}

@media (max-width: 900px) {
  .menu-list {height: calc(100vh - 50px);}
}

@media (max-width: 700px) {
  .menu-item--userSection {
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
}

@media (max-width: 400px) {
  .userSection--avatar {
    width: 100px;
  }
  .logout i {
    margin-right: 0.5em;
    font-size: 1.2em;
  }
  button.logout {
    padding: 0.4em 0.75em;

  }
}
